/* CSS Document */

.block{margin:0px;}
.frame{margin-bottom:0px; border:0;}
.frame-tab{margin-bottom:0px; border:0px;}
.temp {margin:0px;}
.xl li{margin:0;}
/*.area{ padding:0;}*/
.block{ padding:0;}
*{word-wrap: normal;}





/* 首页diy */

.syhdengp{ width:1200px; margin:0 auto;}
.syhdp{ background:#fff; padding-bottom:22px; margin-top:20px;}
.syhdp .slideshow{ width:848px; float:left;}
.syhdp .slideshow div{ position:relative;}
.syhdp .slideshow .tupbt{ position:absolute; display:block; left:0px; bottom:0px; background:rgba(0,0,0,0.6); height:96px; width:100%;}
.ie7 .syhdp .slideshow .tupbt,.ie8 .syhdp .slideshow .tupbt{ background:#000000;opacity:0.7;filter: alpha(opacity=60);}
.syhdp .slideshow .tupbt span a{ color:#fff; font-size:20px; font-weight:700; font-family: "微软雅黑";}
.syhdp .slideshow .tupbt span.biaoti{ padding-top:5px;}
.syhdp .slideshow .tupbt span{ display:block; padding:0 20px; color:#fff; font-size:16px; font-family: "微软雅黑";}
.syhdp .slideshow .tupbt span.zhaiy{ height:50px; line-height:25px; overflow:hidden; margin-top:5px;}
.syhdp .slidebar { float:right; width:352px;}
.syhdp .slidebar dl{ padding:15px; height:84px; background:#F7F7F7; border-top:1px solid #D9D9D9; position:relative;}
.syhdp .slidebar dl i{ height:27px; width:14px; display:none; position:absolute; top:40px; left:-14px; background:url(../image/hdpbg.png) 0 no-repeat;}
.syhdp .slidebar dl#cc1{ border-top:none;}
.syhdp .slidebar dl:hover{ cursor:pointer;}
.syhdp .slidebar dl.on{ background:#33C4B5;}
.syhdp .slidebar dl.on i{ display:block; background:url(../image/hdpbg.png) 0 no-repeat;}
.syhdp .slidebar dl .m{ float:left; margin-right:15px;}
.syhdp .slidebar dl dt{ line-height:30px; padding-top:5px;}
.syhdp .slidebar dl dt a{ font-size:16px; color:#2c2c2c; font-weight:700; font-family: "微软雅黑";}
.syhdp .slidebar dl.on dt a{ color:#fff;}

.syhyzx{ width:1200px; margin:0 auto; margin-top:30px;}
.syhyzx .frame-1-1-1-l{ width:436px; margin-right:35px;}
.syhyzx .frame-1-1-1-c{ width:350px;}
.syhyzx .frame-1-1-1-r{ width:350px;}
.syhyzx .title{ width:376px; margin:0 auto; height:40px; line-height:40px; text-align:center; background:url(../image/xian.png) center repeat-x;}
.syhyzx .titletext{ font-size:18px; font-weight:700; color:#2c2c2c; font-family: "微软雅黑"; width:115px; background:#fff; text-align:center; float:none !important; display:inline-block;}
.hyzxleft{ margin-top:15px;}
.hyzxleft .m{ margin:0;}
.hyzxleft dt{ height:30px; line-height:30px; overflow:hidden; float:left; width:100%;}
.hyzxleft dt a{ font-size:16px; color:#2c2c2c; font-weight:700; font-family: "微软雅黑";}
.hyzxleft .biaoti{ line-height:24px; float:left; display:block; font-size:14px; color:#2c2c2c; font-family: "微软雅黑";}
.hyzxleft .readmore{ float:right;}
.hyzxleft .readmore a{ font-size:12px; color:#3f8dbf; font-family: "微软雅黑";}
.hyzxcr{ margin-top:15px;}
.hyzxcr dl{ margin-bottom:28px;}
.hyzxcr .m{ margin:0 15px 0 0;}
.hyzxcr dt{ padding:0px; line-height:25px;}
.hyzxcr dt a{ font-size:14px; color:#2c2c2c; font-weight:700; font-family: "微软雅黑";}
.hyzxcr dt a:hover{ text-shadow:none;}

.syactive{ background:#EBECE6;}
.syhdhd{ width:1200px; margin:0 auto; background:#EBECE6; padding:25px 0 50px 0;}
.syhdhd .title{ width:376px; margin:0 auto; height:40px; line-height:40px; text-align:center; background:url(../image/xian1.png) center repeat-x;}
.syhdhd .titletext{ font-size:18px; font-weight:700; color:#2c2c2c; font-family: "微软雅黑"; width:115px; background:#EBECE6; text-align:center; float:none !important; display:inline-block;}
.syhdhd .slidebox{ position:relative; height:270px; margin-top:20px;}
.syhdhd .slideshow{ clear:none;}
.syhdhd .slideshow li{ float:left; margin-left:16px; margin-right:15px;}
.syhdhd .slideshow span.title{ padding:0px; height:68px; line-height:24px; text-align:left; text-indent:0; background:rgba(0,0,0,0.6);}
.ie7 .syhdhd .slideshow span.title,.ie8 .syhdhd .slideshow span.title{ background:#000000;opacity:0.7;filter: alpha(opacity=60);}
.syhdhd .slideshow span.title a{ font-size:14px; font-weight:700; color:#fff; font-family: "微软雅黑"; padding:8px 10px; display:inline-block;}
.syhdhd .btn a{ position:absolute; top:40%; z-index:2; display:block; width:35px; height:35px; line-height:35px; text-align:center; background:#33C4B5; font-size:20px; color:#fff; font-weight:700; font-family: "微软雅黑";}
.syhdhd .btn a:hover{ text-decoration:none; text-shadow:none; background:#262626;}
.syhdhd .slidebarup a{ left:0px;}
.syhdhd .slidebardown a{ right:0px;}

.symhzn{ width:1200px; margin:0 auto; margin-top:25px;}
.symhzn .frame-1-1-l,.symhzn .frame-1-1-r{ width:576px;}
.mhznleft{ margin-left:16px;}
.mhznright{ margin-right:16px;}
.symhzn .title,.gwsd .title,.mttx .title,.yqlj .title{ height:40px; line-height:40px; padding:0; background:url(../image/xian.png) center repeat-x;}
.symhzn .titletext,.gwsd .titletext,.mttx .titletext,.yqlj .titletext{ font-size:18px; font-weight:700; color:#2c2c2c; font-family: "微软雅黑"; width:95px; background:#fff;}
.mhznleft .frame-1-1-l,.mhznleft .frame-1-1-r{ width:256px;}
.mhznright .frame-1-1-l,.mhznright .frame-1-1-r{ width:256px;}
.mhzn{ margin-top:20px;}
.mhzn li{ height:30px; line-height:30px; background:none !important; padding-left:0px !important;}
.mhzn li a{ font-size:14px; color:#2c2c2c; font-family: "微软雅黑";}
.mhzn li i{ font-size:14px; color:#33c4b5; font-family: "微软雅黑"; margin-right:15px;}
.mhzn li.tuwen{ height:auto; position:relative; border-bottom:1px solid #CBCBCB; margin-bottom:10px;}
.mhzn li.tuwen .bank{ width:45px; padding:0 14px; height:30px; line-height:30px; background:#33C4B5; text-align:center; overflow:hidden; font-size:18px; color:#fff; font-weight:700; font-family: "微软雅黑"; position:absolute; top:0px; left:0px;}
.mhzn li.tuwen .biaoti{ padding:10px 0 5px 0;}
.mhzn li.tuwen .biaoti a{ font-size:16px; color:#2c2c2c; font-weight:700; font-family: "微软雅黑"; line-height:28px;}
.mhzn li.tuwen .more { float:right;}
.mhzn li.tuwen .more a{ font-size:12px; color:#33c4b5; font-weight:500; font-family: "微软雅黑";}

.sygwsd{ width:1200px; margin:0 auto;}
.gwsd{ margin-top:35px;}
.gwsd .slidebox{ position:relative; height:270px; margin-top:13px;}
.gwsd .slideshow{ clear:none;}
.gwsd .slideshow li{ float:left; margin-left:13px; margin-right:5px;}
.gwsd .slideshow span.title{ padding:0px; height:40px; line-height:40px; text-align:left; text-indent:0; background: rgba(0,0,0,0.6);}
.ie7 .gwsd .slideshow span.title,.ie8 .gwsd .slideshow span.title{ background:#000000;opacity:0.7;filter: alpha(opacity=60);}
.gwsd .slideshow span.title a{ font-size:14px; font-weight:500; color:#fff; font-family: "微软雅黑"; height:40px; padding:0px 10px; display:inline-block;}
.gwsd .btn a{ position:absolute; top:45%; z-index:2; display:block; width:35px; height:35px; line-height:35px; text-align:center; background:#33C4B5; font-size:20px; color:#fff; font-weight:700; font-family: "微软雅黑";}
.gwsd .btn a:hover{ text-decoration:none; text-shadow:none; background:#262626;}
.gwsd .slidebarup a{ left:0px;}
.gwsd .slidebardown a{ right:0px;}

.symttx{ background:#EEEEEE; margin-top:40px;}
.mttx{ width:1200px; margin:0 auto; background:#EEEEEE; padding:15px 0;}
.mttx .titletext{ background:#EEEEEE;}
.mttx .dxb_bc{ padding:0 10px;}
.mttx li{ position:relative; padding:0px; margin:6px 0 0 6px;}
.mttx li p{ display:none;}
.mttx li:hover p{ display:block; position:absolute; left:0px; bottom:0px; height:48px; line-height:48px; background: rgba(0,0,0,0.6);}
.ie7 .mttx li:hover p,.ie8 .mttx li:hover p{ background:#000000;opacity:0.7;filter: alpha(opacity=60);}
.mttx li:hover p a{ font-size:16px; color:#fff; font-weight:700; font-family: "微软雅黑"; padding:0 10px;}
.mttx .chakmore{ float:right; margin-top:12px;}
.mttx .chakmore a{ font-size:12px; color:#f36910; font-family: "微软雅黑";}
.mttx .chakmore a:hover{ text-shadow:none;}

.syltbk{ width:1200px; margin:0 auto;}
.ltbk{ margin-top:20px; padding:0 8px;}
.ltbk .title{ width:376px; margin:0 auto; height:40px; line-height:40px; text-align:center; background:url(../image/xian.png) center repeat-x;}
.ltbk .titletext{ font-size:18px; font-weight:700; color:#2c2c2c; font-family: "微软雅黑"; width:115px; background:#fff; text-align:center; float:none !important; display:inline-block;}
.ltbk .dxb_bc{ margin-top:10px;}
.ltbk .bankm{ float:left; width:19.9%; height:110px; border-bottom:1px dashed #9D9D9D; border-top:1px dashed #9D9D9D; margin-top:-1px;}
.ltbk dl{ border-left:1px dashed #9D9D9D; height:88px; margin:10px 0; padding:0 15px;}
.ltbk dl.cc1,.ltbk dl.cc6,.ltbk dl.cc11,.ltbk dl.cc16{ border-left:none; padding:0 15px 0 5px;}
.ltbk dt{ padding:0px;}
.ltbk dt a{ font-size:18px; color:#2c2c2c; font-weight:700; font-family: "微软雅黑";}
.ltbk dd{ margin-bottom:0px; margin-top:5px;}
.ltbk dd.jieshao{ height:36px; overflow:hidden; font-size:12px; color:#878787; font-family: "微软雅黑";}
.ltbk dd.jinru a{ font-size:12px; color:#f26b17; font-weight:700; font-family: "微软雅黑"; padding-right:20px; background:url(../image/damei.png) 56px -155px no-repeat;}
.ltbk dd.jinru a:hover{ text-shadow:none;}

.syyqlj{ width:1200px; margin:0 auto; margin-top:20px;}
.yqlj li{float: left;font-size: 12px;color: #2c2c2c;font-family: "微软雅黑";height: 30px;line-height: 30px;}
.yqlj li a{font-size: 14px;color: #333333;font-family: "微软雅黑";}
.yqlj li.sline{padding: 0 12px;}


/* 论坛页diy */

.ltsyad{ margin-top:15px;}

.ltytopdiy .frame-1-2-l{ width:457px;}
.ltytopdiy .frame-1-2-r{ width:727px;}

.ltsyhdp{}
.ltsyhdp .slidebar{ top:auto !important; left:auto !important; right:8px; bottom:62px;}
.ltsyhdp .slidebar li{ width:16px; height:16px; line-height:16px; text-align:center; background:#444041; color:#fff; margin-left:2px;}
.ltsyhdp .slidebar li.on{ background:#FCA33B; color:#fff;}
.ltsyhdp .slideshow span.title{height: 52px; line-height:52px; padding: 0px;font-weight: normal;background:rgba(0, 0, 0, 0.5);}
.ltsyhdp .slideshow span.title a{ font-size: 16px;color: #fff;font-family: "微软雅黑";}
.ie7 .ltsyhdp .slideshow span.title,.ie8 .ltsyhdp .slideshow span.title{ background:#000000;opacity:0.7;filter: alpha(opacity=60);}

.ltsytzph{ height:290px; border:1px solid #D9DADE;}
.ltsytzph .title{ height:35px; line-height:35px; border-top:8px solid #32C5B3; background:#32C5B3;}
.ltsytzph .tb{ padding-left:0px; line-height:35px;}
.ltsytzph .tb li{ width:25.14%; text-align:center;}
.ltsytzph .tb li a{ border:none; font-size:14px; font-family:"微软雅黑"; color:#fff;}
.ltsytzph .tb li.a{ background:#fff;}
.ltsytzph .tb li.a a{ font-weight:600; color:#06877a;}
.ltsytzph .tb-c{ background:#fff;padding:12px 20px 10px 20px;}
.ltsytzph .tb-c li{ font-size:14px; font-family:"微软雅黑"; height:28px; line-height:28px;}
.ltsytzph .tb-c li p{ float:left; width:13px; height:13px; line-height:13px; background:#ACACAC; font-size:12px; color:#fff; text-align:center; margin-top:9px;}
.ltsytzph .tb-c li p.cc1,.ltsytzph .tb-c li p.cc2,.ltsytzph .tb-c li p.cc3{ background:#EE5000;}
.ltsytzph .tb-c li span{ color:#222222;}
.ltsytzph .tb-c li a{ font-size:14px; color:#222222; font-family:"微软雅黑"; text-decoration:none;}
.ltsytzph .tb-c em{ color:#cdcccc;}
.ltsytzph .tb-c em a{ font-size:12px; color:#cdcccc; padding-right:20px;}
.ltsytzph .tb-c li:hover a,.ltsytzph .tb-c li:hover span{ color:#f64b00;text-shadow:none;}
.ltsytzph .tb-c li:hover em a{ color:#2874c2;text-shadow:none;}

.ltsysqxc{ margin:5px 0 18px 0;}
.ltsysqxc .title{ height:30px; line-height:30px; background:#B5DFDB;}
.ltsysqxc .titletext{ font-size:16px; color:#2c2c2c; font-weight:700; font-family:"微软雅黑";}
.ltsysqxc .dxb_bc{ border:1px solid #EDEDED; margin-top:15px; padding:10px 0;}
.ltsysqxc .slideshow{ clear:none;}
.ltsysqxc .slideshow li{ float:left; margin-left:18px; margin-right:5px;}
.ltsysqxc .btn a{display:block; font-size:18px; font-family:"微软雅黑"; width:25px; height:50px; line-height:50px; text-align:center; margin-top:35px;}
.ltsysqxc .btn a:hover{ text-decoration:none; color:#FF0000;}
.ltsysqxc .slidebarup a{ float:left; margin-left:18px; background:url(../image/left.png) no-repeat;}
.ltsysqxc .slidebardown a{ float:right; margin-right:18px; background:url(../image/right.png) no-repeat;}
.ltsysqxc .slideshow li span.title{ display:none;}
.ltsysqxc .slideshow li:hover span.title{ display:block; position:absolute;height:26px; line-height:26px; font-size:14px; font-weight:normal; text-indent:-10px; text-align:center;}
.ltsysqxc .slideshow li span.title a{ color:#fff; font-size:12px;}


/* 资讯页diy */

.zxlbyrmtp{ padding:19px; height:290px; border:1px solid #D8D8D8;}
.zxlbyrmtp .title,.zxlbyqtrm .title{ height:30px; line-height:30px; background:#B5DFDB;}
.zxlbyrmtp .titletext,.zxlbyqtrm .titletext{ width:84px; background:#2C2C2C; text-align:center; font-size:14px; color:#fff; font-family:"微软雅黑";}
.zxlbyrmtp .dxb_bc{ margin-top:15px;}
.zxlbyrmtp .slidebox{ height:230px; position:relative;}
.zxlbyrmtp .slidebar{ top:auto !important; left:auto !important; right:100px; bottom:-20px;}
.zxlbyrmtp .slidebar li{ background:#D6D6D6; border-radius:10px; width:9px; height:9px; text-indent:-999px; margin-right:8px;}
.zxlbyrmtp .slidebar li.on{ background:#F5C719; border-radius:15px; width:14px; height:14px; margin-top:-3px;}
.zxlbyrmtp .slidebarup{ position:absolute; z-index:2; float:left; left:0px; top:40%; background:#E84C3D;}
.zxlbyrmtp .slidebardown{ position:absolute; z-index:2; float:right; margin-left:2px; right:0px; top:40%;}
.zxlbyrmtp .slidebarup a,.zxlbyrmtp .slidebardown a{ display:block; width:24px; height:24px; background:#000000; line-height:24px; color:#fff; font-size:14px; text-align:center; font-family:"宋体";}
.zxlbyrmtp .slidebarup a:hover,.zxlbyrmtp .slidebardown a:hover{ text-shadow:none; text-decoration:none; background:#fff; color:#000000;}
.zxlbyrmtp .slideshow div{ float:left; position:relative;}
.zxlbyrmtp .slideshow p a{ font-size:14px; color:#fff;}
.zxlbyrmtp .slideshow p a:hover{ text-decoration:none; color:#FF3336;}
.zxlbyrmtp .slideshow div p{ display:block; position:absolute; bottom:0px; left:0px; background:rgba(0, 0, 0, 0.5); height:42px; line-height:42px; text-align:center; width:100%; overflow:hidden;}
.ie7 .zxlbyrmtp .slideshow div p,.ie8 .zxlbyrmtp .slideshow div p{ background:#000000;opacity:0.7;filter: alpha(opacity=60);}

.zxyrem{ border:1px solid #D8D8D8 !important; margin-top:20px !important;}

.zxlbyqtrm{ padding:19px;}
.zxlbyqtrm .dxb_bc{ margin-top:20px;}
.zxlbyqtrm dl{ border-top:1px solid #D8D8D8; padding-top:12px; margin-top:10px;}
.zxlbyqtrm dl.cc1{ border-top:none; padding-top:0; margin-top:0;}
.zxlbyqtrm .m{ margin:0 12px 0 0;}
.zxlbyqtrm dt{ line-height:25px; padding:0px;}
.zxlbyqtrm dt a{ font-size:14px; color:#292929; font-family:"微软雅黑"; font-weight:500;}

.zxlbyad1{ padding:20px;}

.zxnryint{ margin:10px; position:relative;}
.zxnryint .title{ height:34px; line-height:34px; border-bottom:1px solid #2D2D2D; padding:0px;}
.zxnryint .titletext{ font-size:16px; color:#333333; font-family:"微软雅黑"; font-weight:700;}
.zxnryint .dxb_bc{ margin-top:20px;}
.zxnryint .slideshow li{ float:left; height:178px !important; margin-left:24px;}
.zxnryint .slideshow li.cc1,.zxnryint .slideshow li.cc5,.zxnryint .slideshow li.cc10,.zxnryint .slideshow li.cc15{ margin-left:0;}
.zxnryint .slideshow span.title{ position:static; background:none; border-bottom:none;}
.zxnryint .slideshow span.title a{ font-size:12px; font-weight:500; color:#2c2c2c;font-family:"微软雅黑";}
.zxnryint .btn{ position:absolute; top:0px; right:0px; width:60px;}
.zxnryint .btn a{display:block; color:#fff; font-size:18px; font-family:"微软雅黑"; width:25px; height:25px; line-height:25px; text-align:center; background:#000000;}
.zxnryint .btn a:hover{ text-decoration:none; background:#33C4B5;}
.zxnryint .slidebarup a{ float:left; margin-right:10px;}
.zxnryint .slidebardown a{ float:right;}

